<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Hazards and Health</title>

    <!-- Leaflet CSS & JS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <script src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js" integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ==" crossorigin=""></script>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="static/js/choropleth.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">


</head>

<body>
    <div class="jumbotron text-center" style="background-image: url('/static/img/EKG-bg.png'); height: 350px; background-position: center; background-size: 75% auto;
        background-repeat: no-repeat; background-color: rgb(200,200,200); color: #ecd614f3">
        <!-- <div class="jumbotron text-center" style="height: 460px; background-position: center; background-size: 50% auto;
        background-repeat: no-repeat; background-color: rgb(200,200,200); color: #ecd614f3"> -->
        <h2> <br><b>Natural Causes or Natural Hazards</b></h2>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <Strong>Home</Strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav navbar-right">
                <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar"> -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://www.usgs.gov/news/all-systems-go-first-statewide-testing-shakealert-united-states?qt-news_science_products=1#qt-news_science_products">ShakeAlert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="https://ntwc.ncep.noaa.gov">TsunamiAlert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="https://www.cdc.gov/disasters/earthquakes/index.html">HealthAlert</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                <h4>What's our point?</h4>
                <p>Data science to examine social, health, financial, and environmental data mashups. Thinking differently with data from different disciplines.
                </p>
                <p>In this example, we conduct a preliminary investigation between risk and death from natural hazards or natural causes in the United States. We look at geographic distribution and medicare payments as a financial proxy to show how different
                    states may suffer non-uniformly from various health hazards.
                </p>
                <ul class="nav nav-pills flex-column">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="https://www.medicalnewstoday.com/articles/237093.php#1">Earthquakes
                            and Health
                            Impacts</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link"
                            href="https://www.washingtonpost.com/health/theres-something-terribly-wrong-americans-are-dying-young-at-alarming-rates/2019/11/25/d88b28ec-0d6a-11ea-8397-a955cd542d00_story.html">
                            A New Look at Life and Death in America</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="https://issues.org/retrofitting-social-science/">The Fourth Purpose:
                            Practical and
                            Moral Data Analytics</a>
                    </li>
                </ul>
                <h4>About Us <img src="/static/img/WomenWhoCode.jpg" width="50" height="50" /></h4>
                <h6>U. Richmond Data Analytics Bootcamp</h6>
                <!-- <div>
                    <img src="/static/img/WomenWhoCode.jpg" width="100" height="100" />
                </div> -->
                <p>Diana and Marie used their backgrounds in finance and environmental science to exercise new skills in data analytics and consider connections between the natural world and society.
                </p>

                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <h2>What is a citizen's exposure to Natural Hazards?</h2>
                <img src="/static/img/Annual-deaths-by-natural-disaster.png" width="600" height="400" />
                <p>Fatalities due to Natural Hazards are going down, largely from better warnings and forecasts, but property damages increasing. The most deadly events today tend to be earthquakes and tsunamis, an issue on densely populated coasts because
                    of overall less predictability.
                </p>
                <p>After the earthquake in Northridge, California, heart attacks rose by 35% in the week following the disaster, with increases also being reported in other areas, including Taiwan. However, in another earthquake, in Loma Pietra, California
                    in 1989 no increases were reported.
                    <ul class="nav-item">
                        <a class="nav-link" href="https://www.medicalnewstoday.com/articles/237093.php#1">Earthquakes
                            and Health
                            Impacts</a>
                    </ul>
            </div>
            <h2>How does fatality by unexpected natural causes compare?</h2>
            <!-- <div class="fakeimg">Fake Image</div> -->
            <ul class="nav-item">
                <a class="nav-link" href="https://www.washingtonpost.com/health/theres-something-terribly-wrong-americans-are-dying-young-at-alarming-rates/2019/11/25/d88b28ec-0d6a-11ea-8397-a955cd542d00_story.html">
                        A New Look at Life and Death in America</a>
            </ul>
        </div>
    </div>

    <section class="container-fluid px-5 py-5">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card mb-3">
                    <div class="card-header bg-transparent">

                        <h5 class="card-title">Number of deaths of natural causes by state </h5>
                    </div>

                    <div class="card-body text-justify pt-3 px-2">
                        <select id="sel-year">

                            <option selected value="2017">2017</option>
                            <option value="2014">2014</option>
                            <option value="2010">2010</option>
                        </select>
                        <select id="sel-cause">

                            <option selected value="All causes">All Causes</option>
                            <option value="Heart disease">Heart Disease</option>
                            <option value="Suicide">Suicide</option>
                            <option value="Unintentional injuries">Unintentional Injuries</option>
                            <option value="Stroke">Stroke</option>
                        </select>
                        <div id="disease_map"></div>


                    </div>

                </div>


            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="card mb-3">
                    <div class="card-header bg-transparent">

                        <h5 class="card-title">Medicare spending by state</h5>
                    </div>

                    <div class="card-body text-justify pt-3 px-2">
                        <select id="sel-year-medicare">

                            <option selected value="2014">2014</option>

                            <option value="2010">2010</option>
                        </select>

                        <div id="medicare_map"></div>


                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card mb-3">
                    <div class="card-header bg-transparent">

                        <h5 class="card-title">Deaths v. Spending by State</h5>
                    </div>

                    <div class="card-body text-justify pt-3 px-2">


                        <canvas id="bubble-chart" width="400" height="377"></canvas>


                    </div>

                </div>


            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="card mb-3">
                    <div class="card-header bg-transparent">

                        <h5 class="card-title">Earthquake, Potential Tsunami and Population Density</h5>
                    </div>

                    <div class="card-body text-justify pt-3 px-2">

                        <div class="button btn btn-danger" id="refresh_button" role="button">
                            Update</div>
                        <div id="earthquake_map"></div>


                    </div>

                </div>
            </div>

        </div>
        <ul class="list-unstyled">
            <li>
                <h2>Key Takeaways</h2>
            </li>
            <ul>
                <li>US faces considerable exposure to earthquakes and tsunamis in heavily populated coastal regions. New government services to provide forecasts and warnings are in early operational stages.
                </li>
                <li>Death from natural causes, particularly heart disease, outweigh annual deaths by natural hazards and show specific concentrations in the interior of the US.
                </li>
                <li>The last decade has seen an increase in "untimely" deaths more akin to a natural disaster, which has associated programs for "mitigation, response, and recovery" actions.</li>

                <li>Understanding regional disparities in long-term health risks and exposure to natural hazards may contribute to national discussions on joint improvements to preparedness and health-care programs.
                </li>
            </ul>
            </li><br><br>
            <li>Contact information: diana&marie@letskeeptalking.com</li>
        </ul>
    </section>


    <!-- <div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p> -->
    </div>
    <!--Footer-->
    <div class="container-fluid bottom-footer page-footer">
        <div class="row">
            <div class="col text-center">
                <p class="bg-dark text-white">&copy; UR Data Analytics Bootcamp 2019</p>
                <!-- <p >
          &copy; UR Data Analytics Bootcamp 2019 -->
                </p>
            </div>
        </div>
    </div>

    <!--Chart JS-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- The div where we will inject our map -->


    <script type="text/javascript" src="static/js/us-states.js"></script>
    <script type="text/javascript" src="static/js/config.js"></script>
    <script type="text/javascript" src="static/js/disease_medicare_logic.js"></script>
    <script type="text/javascript" src="static/js/scatter_logic.js"></script>
    <script type="text/javascript" src="static/js/logic2.js"></script>



</body>

</html>